@font-face {
    font-family: Voyager Light;
    src: url(./voyager/Webfonts/Voyager\ Light\ Webfont.woff);
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Voyager Light';
    background-color: rgb(199, 199, 199);
}


/* HEADER */
.header {
    max-width: 100%;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 5px 25px black;
    border: none;
    background-color: rgb(39, 39, 39);
    z-index: 2;
    position: relative;
}

.title {
    padding-right: 140px;
    margin: auto;
    margin-left: 20px;
    letter-spacing: 2px;
    color: white;
    font-family: 'Voyager Light';
    font-size: 1em;
    text-align: left;
}

/* MAIN CONTENT */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    width: 100%;
    max-height: 100%;
    background-color: rgb(199, 199, 199);
}

#video {
    z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(35%);
}


/* PHOTO CONTENT */
.photo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: auto;
    z-index: 1;
    filter: drop-shadow(2px 2px 10px #000000)   ;
    padding: 40px;
}

.photo {
    align-items: flex-start;
    max-height: 150px;
    border: 3px solid black;
}

/* INFO CONTENT */
.info-container {
    max-width: 750px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: 40px;
}

/* .info-title {

} */

.date {
    margin-bottom: 50px;
}

.description {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: .6px;
    padding-right: 10px;
}



/* MEDIA QUERIES */

/* Small Tablet Styles */
@media screen and (min-width: 620px) {

    .title {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: .9em;
        height: 50px;
        margin-left: 30px;
        /* width: 40%; */
    }

    .photo {
        max-height: 250px;
    }

    .info-container {
        margin: auto;
        padding: 27px;
    }

    .description {
        padding: 20px;
        font-size: 15px;
    }
}

/* Large Tablet & Laptops */
@media screen and (min-width: 960px) {

    .main {
        justify-content: center;
    }

    .title {
        display: flex;
        align-items: center;
        text-align: left;
        font-size: 1.1em;
        height: 50px;
        margin-left: 40px;
        width: 28%;
        line-height: 1.3rem;
    }

    .photo-container {
        margin-top: 90px;
    }

    .photo {
        max-height: 400px;
    }

    .info-container {
        margin: auto;
        max-width: 100%;
        padding: 45px;
    }

    .info-title {
        padding-right: 30%;
    }


    .description {
        max-width: 100%;
        justify-content: center;
        padding-right: 10%;
        font-size: 1em;
    }
}

/* Desktop Styles */
@media screen and (min-width: 1200px) {

    .info-container {
        padding: 56px;
        margin: auto;
    }

    .description {
        font-size: 1.1em;
        line-height: 1.5;
    }

}

@media screen and (min-width: 1920px) {

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 1%;
    }

    .photo-container {
        border: #000000 1px solid; /* Border may be temporary */
        margin-top: auto;
        max-width: 100%;
        max-height: 100%;
    }

    /* BG Video hidden temporarily */
    #video {
        z-index: -1;
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        filter: brightness(65%);
    }

    .photo-container {
        padding: none;
        border: none;
    }

    .photo {
        max-height: 350px;
    }
    
    .info-container {
        padding: none;
        margin-top: 150px;
    }

    .info-title {
        font-size: 2.1em;
    }

    .description {
        padding-right: 20%;
        line-height: 1.5;
    }

}   